header{
    height: 20vh;
    width: 100vw;
    display: none;
}
img {
    height : 18vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;

}
body {
    margin: 0;
    background-color: #F5F5F5;
    font-family: DIN-Regular, sans-serif;
    font-weight: bolder;
    letter-spacing: 1.5px;
}
main {
    width: 100%;
    margin: auto;
    background-color: white;
}
footer {
    display: none;
}
#logo {
    width: auto;
    height:80%;
    top: 20px;
}
#divlogo {
    width: auto;
    height:20%;
    top: 20px;
}
#image1 {
    background-image: url("../img/image1.jpg");
    width: 100vw;
    height: 100vh;
    /*background-position: center;*/
    opacity: 0.8;
    filter: alpha(opacity=50);
}
#image2 {
    /*background-image: url("../img/image2.jpg");*/
    width: 100vw;
    height: 100vh;
    background-position: center;
    opacity: 0.8;
    filter: alpha(opacity=50);
}
#image4 {
    background-image: url("../img/locataire-1920-optimise.jpg");
    width: 100vw;
    height: 100vh;
    background-position: 25% 75%;
    opacity: 0.8;
    filter: alpha(opacity=50);
}
.boutonConnexion {
    display: flex;
    width: 30vw;
    justify-content: center;
    position: fixed;
    top: 80%;
    left: 50%;
    margin-left: -15vw;
    visibility: hidden;
}


/*///////////////////////////////////////////////////////////////*/
                /*PARTIE CAROUSEL*/
/*////////////////////////////////////////////////////////////////*/

.carousel-item {
    height: 100%;
}
.carousel-item img {
    margin-bottom: 40px;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.8;
    filter: alpha(opacity=50);
}
.carousel-caption {
    height: 70%;
}
.carousel-inner {
    width: 100%;
    height:100vh;
}
.carousel-indicators li {
    display: block;
    text-indent: 0;
    margin: 0 8px;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 100%;
    line-height: 10px;
    background-color: #867f7f;
    transition: all 0.25s ease;
}
.carousel-indicators .active, .carousel-indicators:hover li {
    margin: 0 8px;
    width: 12px;
    height: 12px;
    background-color: #f38b00;
}
#bulles {
    padding: 20px;
}
.carousel-control-prev {
    width: 10%;
}
.carousel-control-next {
    width: 10%;
}
.carousel-control-prev-icon {
    height: 6vh;
    width: 40px;
}
.carousel-control-next-icon {
    height: 6vh;
    width: 40px;
}
.blancMaj {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0px;
    padding: 1px;
    color: white;
    text-shadow: 0px 0px 25px rgba(54, 79, 157, 0.86);
    vertical-align: top;
}
.blancMin {
    font-size: 40px;
    margin: 0px;
    padding: 1px;
    color: white;
    text-shadow: 0px 0px 25px rgba(54, 79, 157, 0.86);
}
.orangeMaj {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0px;
    color: #f38a00;
    padding: 1px;
    vertical-align: top;
}

/*///////////////////////////////////////////////////////////////*/
                    /*PARTIE RESPONSIVE*/
/*////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 767px) {
header {
    display: block;
    height: 20vh;
    width: 100%;
}
nav {
    width: 100%;
}
main {
    width: 100%;
    height: 75vh;
}
body {
    width: 100%;
}
footer {
    display: none;

}

.carousel-inner {
    height: 80vh;
}
#image1 {
    background-image: url("../img/image1.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    opacity: 0.8;
    filter: alpha(opacity=50);
}
#image2 {
/*    background-image: url("../img/image2.jpg");*/
    width: 100vw;
    height: 100vh;
    background-position: center;
    opacity: 0.8;
    filter: alpha(opacity=50);
    }
#image4 {
        background-image: url("../img/locataire-mobile.jpg");
        width: 100vw;
        height: 100vh;
    background-position: 50% 80%;
        opacity: 0.8;
        filter: alpha(opacity=50);
    background-size: cover;
    }
#divhead {
    display: flex;
    background-image: url("../img/logo-home-page-mobile.png");

    background-size: cover;
    width: 100%;
    height: 100%;

}
#bulles {
    padding-bottom: 1vh;
}
#espaceBlanc {
    display: block;
    background-color: white;
    width: 100vw;
    height: 18px;
}
#espaceBleu {
    display: block;
    background-color: #364f9d;
    width: 100vw;
    height: 10px;
}
.carousel-item img {
    height: 80vh;
    margin: auto;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    filter: alpha(opacity=50);
}
.blancMin {
    text-transform:;
    font-size: 15px;
    width: 100%;
    vertical-align: top;
    margin: 0px;
    padding: 1px;
}
.blancMaj {
    font-size: 15px;
    width: 100%;
    padding: 1px;
    position: center;
    margin: 0px;
    vertical-align: top;
}
.orangeMaj {
    font-size: 15px;
    width: 100%;
    padding: 1px;
    position: center;
    margin: 0px;
    vertical-align: top;
}
#controle-fleche {
    height: 100vh;
}
.carousel-caption {
    height: 95%;
}
.boutonConnexion{
    width: 100vw;
    flex-direction: column;
    margin-left: -25vw;
}
.boutonConnexion button{
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
    visibility: hidden;
}
}
