header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image:linear-gradient(white, #949494 500%);
  border: 1px solid black;
}
.indicators {
  background-color: white;
  display: flex;
  align-items: center;
  width: 17%;
  height: 13vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.indicators p {
  margin: auto;
}
