
/* .App {
  font-family: sans-serif;
  text-align: center;
} */
*{
  font-family: sans-serif;
}

body {
  margin: 0;
}
header {
position: fixed;
z-index: 1000;
}
header div {
  text-align: center;
}

/* Partie formulaire */
.container_form {
  padding-top: 13vh;

}
.container_form_left{
  width: 55%;
  z-index: 200;
  padding-left: 10%;
}
.container_form_right{
  position: fixed;
  top: 13vh;
  z-index: 500;
  right: 0;
  background-color: #f5efef;
  width: 35%;
  height: 90vh;
  color: grey;
  font-size: 10px;

}
.display {
display: flex;
flex-direction: column;
margin-top: 10%;
height: 50vh;
}
.displayflex_center {
  display: flex;
  justify-content: center;
}
.space_between {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.container_form_form1 {

  text-align: left;
  margin-top: 20px;
}
._2 {
  border: 1px solid #888888;
  width: 70%;
  text-align: left;
  color: #707070;
  padding-left: 5px;
}
._3 div {
  text-align: left;
  margin-top: 1.5vh;
}
input[type="radio"], input[type="checkbox"]{
    display: none;
  }
  /* Affichage par défaut du bouton radio personnalisé */
input + label:before {
  background: #fff;
  border: 2px solid #0056A4;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 17px;
  height: 17px;
}
input:checked + label:before {
    background: #fb8819;
    box-shadow: inset 0px 0px 0px 2px #fff;
}
label{
    cursor:pointer;
}
.blue_color {
  color: #0056A4;
}
.container_blue {
  color: #0056A4;
  margin-top: 4vh;
}
.underline {
  text-decoration: underline;
}
.padding_r_15p {
  padding-right: 15%;
}
.padding_r_20p {
  padding-right: 20%;
}
.container_blue_2 {
  line-height: 0.2;
}
input[type="text"], input[type="number"], input[type="email"], input[type="date"] {
  padding: 10px;
}
input[placeholder="Nom de la Résidence"] {
  width: 90%;
}
input[placeholder="Pays"] {
  width: 35%;
}
.container_input_local {
  width: 70%;
}
.container_input_local div {
  width: 100%;
}

.input_100 {
  width: 100%;
}
.boxsizing {
  box-sizing: border-box;
}
.label_blue {
  color: #0056A4;
  font-weight: bold;
}
input[placeholder="N° d'appartement"] {
  width: 28%;
  margin-right: 1%;
}
input[placeholder="N°"]{
  width:12%;
  margin-right: 1%;
}
input[placeholder="N° de lot"] {
  width: 61%;
}
input[placeholder="Numéro de téléphone"] {
  margin-right: 1%;
  width: auto;
}

button[type="submit"] {
  padding: 15px;
  width:10vw;
  color:white;
  background-color: #0056A4;
  border-radius: 10px;
  margin: 5vh;
  border-style: none;
  box-shadow: 0 4px #999;
}
button[id="new_prop"] {
  padding: 10px;
  width:15vw;
  color:white;
  background-color: #0056A4;
  border-radius: 10px;
  margin-top: 3vh;
  border-style: none;
  box-shadow: 0 4px #999;
}
button[type="submit"]:hover, button[id="new_prop"]:hover {
  background-color: #004483;
}
button[type="submit"]:active, button[id="new_prop"]:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
.margin-t10px {
  margin-top: 10px;
}
.margin-t2vh {
  margin-top: 20px;
}
.container_button {
  width: 55%;
}
.display_none{
  display: none;
}
.margin-0 {
  margin: 0;
}
.margin-b20 {
  margin-bottom: 20px;
}
.margin-l150px{
  margin-left: 150px;
}
.padding_l20p {
  padding-left: 10%;
}
.padding_l2px {
  padding-left: 2px;
}
.padding_bt5lr30 {
  padding: 2px 30px;
}
.padding_5px {
  padding: 5px;
}
.w-centpcent {
  width: 100%;
}
.w-quinzepcent {
  width: 15%;
}
.w-quatrevingtdixpcent {
  width: 90%;
}
.w-vingtpcent {
  width: 20%;
}
.w-quatrevingtpcent {
  width: 80%;
}
.w-quarantecinqpcent {
  width: 44%;
}
.display_row {
  display: flex;
  flex-direction: row;
}
.display_column {
  display: flex;
  flex-direction: column;
}
.display_1 {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.container_buttonradio_form4 {
  display: flex;
  justify-content: space-between;
}
.display_paiement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 50px 100px 25px 10px;
}

.container_form_form4_1 {
  line-height: 0.2;
  text-align: left;
  margin-top: 20px;
}
.container_form_form4_paiement_1 {
  margin: 0px 200px;
  padding-top: 20px;
  font-weight: bold;
}
.container_redirectiontexte_form4 {
  margin-left: 150px;
  font-weight: bold;
  color: grey;
}
.container_button_validation {
  text-align: center;
}
#img_paiement{
  width:60px;
  height: 60px;
  vertical-align: middle;
  margin-left: 10px;
}
#img_paypal{
  width:50px;
  height: 50px;
  vertical-align: middle;
  margin-left: 10px;
}
#buttonRadioP {
  display: revert;
}
.t-a-l{
  text-align: left;
}
select{
  width: 500px;
}
input [id="code_promo"] {
  margin-left: 500px;
}
#code_promo {
  width: 150px;
}
#buttonForm4 {
  width:70%;
}
.container_bolder{
 font-weight: bold;
 height: 30px;
 margin-right: 50px;
}
.container_small{
  font-size: x-small;
  padding-bottom: 50px;
}
.padding_left_vingtcinqpourcent {
  padding-left: 25%;
}

/*// CSS WIL ///*/

.adresseClient {
  width: 60%;
  padding-left: 50%;
}

.dateJour {
  width: 100%;
  padding-top: 10px;
  padding-left: 40%;

}
.cadreFacture {
  border: 1px solid grey;
  background-color: white;
  width: 100%;
  height: auto;
}
.pGauche {
  text-transform: uppercase;
  width: 40%;
  padding: 2px 2px;
}

.pDroite {
  width: 55%;
  padding: 2px 2px;
}
.margin-tb5 {
  margin-top: 5px;
}
.souligne {
  text-decoration: underline;
font-weight: bold;
}
#villeclient, #nomclient {
  text-transform: uppercase;
}
p::first-letter {
  text-transform: uppercase;
}
.grey {
  color: #707070;
}
