
.flex {
    display: flex;
}
.active {
  background-color: #CC5D00;
}
.inline_block {
  display: inline-block;
}
.margin_auto {
  margin: 50px auto auto auto;
}
.padding_mesBiens {
  padding: 5px 5px 5px 5px;
}
.f_dir_col {
    flex-direction: column;
}
.f_dir_row {
    flex-direction: row;
}
.f_spacebetween {
    justify-content: space-between;
}
.f_spacearound {
    justify-content: space-around;
}
.bcnd_blue {
    background: linear-gradient(17deg,#2D4F70  45%, #2ECBF0 90%);
}
.bcnd_green {
    background: linear-gradient(17deg, #0A6A47 45%, #2BE237 90%);
}
.bcnd_grey {
    background-color: darkgrey;
}
.p_5px {
    padding: 5px;
}
.h_nav {
    height: 14vh;
    min-height: 100px;
    width: 100%;
    min-width: 900px;
}
.center_parent{
    position: relative;
}
.center_enfant {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carre100px {
    width: 100px;
    height: 100px;
}
.width_40vw{
    width: 40vw;
}
.width_auto {
  width: auto;
}
.width_100p{
  width: 100%;
    height: auto;
}
.text_align_center {
  text-align: center;
}

.text_align_left {
    text-align: left;
}

.text_align_right {
    text-align: right;
}
.search_nav {
    margin-top:20%;
    margin-right: 5px;
    border-radius: 50px;
    height: 40px;
    width: 220px;
    font-size: 15px;
}
.width_75pcent{
  width: 75%;
}
.notif {
    width: 30px;
    height: 30px;
    margin-top: 48%;
    margin-left: 45%;
}
.icone {
  width: 50px;
  height: auto;
}
.test {
  width: 50%;
  height: 50%;
}
.padding_l20px {
  padding-left: 20px;
}
.padding_t20px {
  padding-top: 20px;
}
.padding_t10px {
  padding-top: 10px;
}

/*
////////////////////////////////
 The side navigation menu
////////////////////////////////*/
.sidenav {
    height:86vh;
    min-height: 700px; /* 100% Full-height */
    min-width:25vw;
    position: sticky; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: auto; /* Place content 60px from the top */
}
.sidenavP {
    background-color: #2D4F70;
}
.sidenavL {
    background-color: #0A6A47;
}
/* The navigation menu links */
.sidenav div {
    height: 7.8vh;
    line-height: 4.3vh;
}
.sidenav p {
    padding: 15px 5px 5px 50px;
    margin: 0;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
}
.sidenav div:hover{
    color: #FFFFFF;
    background-color: #CC5D00;
}
.logout {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #8DA686;
    display:flex;
    height: 45px;
    width: 100%;
    border-bottom: 1px #49647E;
}
.logout:hover {
    background-color: red;
}
.profile_container {
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}
.profile_ring {
  width: 50px;
  height: 50px;
  background-color: #6a2f2f;
  border-radius: 50%;
}
.profile_title {
  margin: auto 0 auto 25px;
  color: #878787;
  font-style: italic;
}
.rectangle {

    justify-content: center;
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #FFFFFF;
}
.petitrectangle {
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    width: 250px;
    height: 120px;
    background-color: #2ECBF0;
    border-radius: 5px;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    color: #FFFFFF;
}
.petitrectangle_mesbiens {
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    width: 275px;
    height: 120px;
    background-color: #2d9cc0;
    border-radius: 5px;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    color: #FFFFFF;

}
.btn1 {
  background-color: #2ecbf0;
}
.btn2 {
  background-color: #2d9cc0;
}
.btn3 {
  background-color: #2ecbf0;
}
.btn4 {
  background-color: #2e82a4;
}
.btn5 {
  background-color: #e4e4e4;
}
.btn6 {
  background-color: #15abdc;
}
.vert1{
    background-color: #2BE237;
}
.vert2{
    background-color: #1CAB3E;
}
.vert3{
    background-color: #0A6A47;
}
.vert4{
    background-color: #22C13B;
}
.txt_color_grey {
    color: #707070;
}

.txt_color_blue {
    color: #2E9DC0;
}
=======
>>>>>>> front_leo
.margin_left_62px {
    margin-left: 62px;
}
.container_right{
    width: 75%;
}
.container_left{
    width: 25%;
    /* min-width: 330px; */
    min-width: 26%;
}
.container_button {
  width: 55%;
}
.clear_float {
    clear: both;
}
.margin-t15px {
    margin-top: 15px;
}

.margin-l5px {
    margin-left: 5px;
}

.margin-l10vh {
    margin-left: 10vh;
}
#btn_mesbiens{
  width: 40%;
  height: 55px;
  border-radius: 0;
  margin-top: 10%;
  background-color: #2D4F70;
}
.jusitfy_content {
    justify-content: center;
}
/* Partie Identité Propriétaire */
.titre_proprio {
    text-align: center;
    font-size: larger;
    color: #868786;
}
.champ_obligatoire {
    font-size: x-small;
    margin: 5%;
    text-align: end;
}
.display_padd {
    display: flex;
    justify-content: space-between;
    padding: 5% 45% 0 0;
}
.display_padd1 {
    display: flex;
    justify-content: space-between;
    padding: 3% 41% 0 0;
}
.padding_l20pour {
    padding-left: 20%;
}
.padding_menuentretien {
    padding-top: 3%;
}
.underline {
    text-decoration: underline;
}
* {
    color: #707070;
}

#dateBail {
    width: auto;
    height: auto;
    padding: 1px;

}

=======
>>>>>>> front_leo
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav p {font-size: 18px;}
}
